name: Build
on: [push]
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.14.x]
        platform: [windows-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Verify
        run: |
          if [ "${{ matrix.platform }}" = "ubuntu-latest" ] || [ "${{ matrix.platform }}" = "macos-latest" ]; then
              go run ./cmd/internal -v verify
          fi
          if [ "${{ matrix.platform }}" = "windows-latest" ]; then
            go run ./cmd/internal -v test
          fi
        shell: bash